<h1><%= @album.title %></h1>

<table>
  <% [:title, :band_name, :setting].each do |attr| %>
    <tr>
      <td> <%= attr.to_s.capitalize.gsub("_", " ") %> </td>
      <td> <%= @album.send(attr)  %>
    </tr>
  <% end %>
</table>

<br>

<form action="<%= albums_url %>" method="get">
  <button>Back</button>
</form>
