<h1><%= feed.escape('title') %></h1>
<h3>Updated at: <%= feed.escape('updated_at') %></h3>
<br>
<button id="refresh-entries">Refresh</button>
<button id="index-link">Index</button>
<ul id="feed-entries" >

</ul>
