<label for="feed-title">Title</label>
<input type="text" name="feed[title]" id="feed-title"><br>

<label for="feed-url">URL</label>
<input type="text" name="feed[url]" id="feed-url"><br>

<input type="submit" value="Submit">
